.showcases {
  max-height: 80vh;
  overflow-y: scroll;
}

.showcase {
  text-align: left;
}

.headshot {
  border-radius: 50%;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .showcases {
    max-height: 50vh;
  }

  .showcase img {
    max-width: 100%;
    height: auto;
  }

  .showcase video {
    max-width: 100%;
  }
}