.about {
  max-height: 80vh;
  overflow-y: scroll;
}

.headshot {
  border-radius: 50%;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .about {
    max-height: 50vh;
  }
}